# Directorios
coverage
dist
docs
node_modules
scripts
cypress
docker/
.git
.github
.husky
.vscode
.cursor

# Archivos
CHANGELOG.md
Dockerfile
docker-compose.yml
LICENSE
README.md
commitlint.config.js
.editorconfig
.env.example
.gitattributes
.gitignore
.lighthouserc.json
.npmrc
.nvmrc
.prettierignore
.prettierrc
eslint.config.js
jest.config.js
jest.setup.ts
lerna.json
lighthouserc.json
npm-debug.log
package-lock.json
prettier.config.js
tsconfig.json


